.interested {
  font-family: "PT Sans", "Tahoma", sans-serif;

  text-transform: uppercase;
  padding: 38px 18px 49px;

  @include flex-center(column);

  @media (min-width: $tablet-width) {
    padding: 63px 18px 58px;
  }

  @media (min-width: $desktop-width) {
    padding: 63px 18px 66px;
  }
}

.interested__title {
  font-style: normal;

  margin: 0 0 20px;

  @include huge-text(700);

  @media (min-width: $tablet-width) {
    @include gigantic-text(700);

    margin: 0 0 32px;
  }
}

.interested__description {
  font-style: normal;

  margin: 0 0 33px;
  max-width: 435px;

  @include regular-text(400);

  color: #333333;

  @media (min-width: $tablet-width) {
    margin: 0 0 41px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 45px;
    max-width: 435px;
  }
}

.interested__button {
  @include huge-text(700);

  color: #ffffff;
  background-color: #81b3d2;

  min-width: 284px;
  min-height: 58px;

  padding: 16px 49px;

  @media (min-width: $tablet-width) {
    min-width: 458px;
  }
}

.interested__button:hover,
.interested__button:focus {
  background-color: #669ec0;
}

.interested__button:active {
  background-color: #5496bd;
  color: #ffffff4d;
}

.interested__button:disabled {
  background-color: #e5e5e5;
}
