.user-info {
  position: relative;

  margin: 0 20px;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 30px auto 17px;

    width: 648px;

    &::before {
      position: absolute;

      content: "";

      width: 1px;
      height: 91%;

      right: 50%;

      background-color: #dbdbdb;

      @media (min-width: $desktop-width) {
        right: 48.5%;
      }
    }
  }

  @media (min-width: $desktop-width) {
    margin: 6px auto 21px;

    justify-content: space-between;

    width: 960px;
  }
}

.user-info .form-block {
  @media (min-width: $tablet-width) {
    width: 319px;
  }

  @media (min-width: $desktop-width) {
    width: 465px;
  }
}

.user-info .form-block:first-child,
.user-info .form-block:last-child {
  position: relative;

  &::before {
    position: absolute;

    content: "";

    width: 100%;
    height: 1px;

    left: 50%;

    transform: translateX(-50%);

    background-color: #dbdbdb;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.user-info .form-block:first-child {
  @media (min-width: $desktop-width) {
    width: 490px;
  }

  &::before {
    top: -50px;
  }
}

.user-info .form-block:last-child {
  &::before {
    top: -50px;
  }
}

.user-info .form__heading {
  @media (min-width: $tablet-width) {
    padding: 0 0 10px;
  }
}

.user-info .input-text__field {
  @media (min-width: $tablet-width) {
    width: 277px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}
